.tagme-cluster {
  display: flex;
  flex-wrap: var(--tagme-cluster-wrap, wrap);
  align-items: var(--tagme-cluster-align-items, center);
  justify-content: var(--tagme-cluster-justify-content, flex-start);
}
