.tagme-cluster-divided {
  display: flex;
  flex-wrap: var(--tagme-cluster-divided-wrap, wrap);
  & > * + * {
    border-left: 1px solid currentColor;
    padding-left: var(--tagme-cluster-divided-padding, 1rem);
  }
}
