.tagme-switcher {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  & > * {
    flex-grow: 1;
    flex-basis: calc((var(--tagme-switcher-threshold, 40rem) - 100%) * 999);
  }
}

.tagme-switcher[data-is-reverse="true"] {
  flex-direction: row-reverse;
  flex-wrap: wrap-reverse;
}
.tagme-switcher {
  align-items: var(--tagme-switcher-align-items, stretch);
}
.tagme-switcher[data-stairs="true"] > *:nth-child(even) {
  margin-top: 2rem;
}

.tagme-switcher[data-is-reverse="true"] {
  flex-direction: row-reverse;
  flex-wrap: wrap-reverse;
}
.tagme-switcher {
  align-items: var(--tagme-switcher-align-items, stretch);
}
.tagme-switcher[data-stairs="true"] > *:nth-child(even) {
  margin-top: 2rem;
}
