.tagme-with-sidebar-divided {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  & > :first-child {
    flex-basis: var(--tagme-with-sidebar-sidebar-width, 300px);
    flex-grow: 1;
    border-right: 1px solid currentColor;
    padding-right: 1rem;
  }
  & > :last-child {
    flex-basis: 0;
    flex-grow: 999;
    min-width: var(--tagme-with-sidebar-main-min-width, 50%);
    padding-left: 1rem;
  }
}
