<!-- wp:template-part {"slug":"header","tagName":"header"} /-->

<!-- wp:group {"tagName":"main","layout":{"type":"constrained"},"className":"stack center"} -->
<main class="wp-block-group stack center">
	<!-- wp:group {"tagName":"section","className":"stack"} -->
	<section class="wp-block-group stack">
		<!-- wp:heading {"level":1} -->
		<h1>Page Not Found</h1>
		<!-- /wp:heading -->
		<!-- wp:paragraph -->
		<p>It looks like nothing was found at this location. Maybe try a search?</p>
		<!-- /wp:paragraph -->
		<!-- wp:search {"showLabel":false,"buttonText":"Search"} /-->
	</section>
	<!-- /wp:group -->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->
