<!-- wp:template-part {"slug":"header","tagName":"header"} /-->
<!-- wp:tagme/stack {"style":{"spacing":{"margin":{"top":"var:preset|spacing|50","bottom":"var:preset|spacing|50"},"padding":{"left":"var:preset|spacing|40","right":"var:preset|spacing|40"}}}} -->
<div class="tagme-stack" style="margin-top:var(--wp--preset--spacing--50);margin-bottom:var(--wp--preset--spacing--50);padding-right:var(--wp--preset--spacing--40);padding-left:var(--wp--preset--spacing--40)">
  <!-- wp:heading {"level":1} -->
  <h1>Page Not Found</h1>
  <!-- /wp:heading -->
  <!-- wp:paragraph -->
  <p>The page you are looking for does not exist.</p>
  <!-- /wp:paragraph -->
  <!-- wp:search {"label":"Search","showLabel":false,"buttonText":"Search"} /-->
</div>
<!-- /wp:tagme/stack -->
<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->
