<!-- wp:template-part {"slug":"header","tagName":"header"} /-->

<!-- wp:group {"tagName":"main","layout":{"type":"constrained"},"className":"stack center"} -->
<main class="wp-block-group stack center">
	<!-- wp:pattern {"slug":"tagme/breadcrumbs-top"} /-->
	<!-- wp:group {"tagName":"article","layout":{"type":"default"},"className":"stack"} -->
	<article class="wp-block-group stack">
		<!-- wp:post-featured-image {"isLink":false,"width":"","height":"auto","scale":"cover"} /-->

		<!-- wp:group {"tagName":"header","className":"stack"} -->
		<header class="wp-block-group stack">
			<!-- wp:post-title {"level":1} /-->
		</header>
		<!-- /wp:group -->

		<!-- wp:post-content /-->
	</article>
	<!-- /wp:group -->

	<!-- wp:pattern {"slug":"tagme/breadcrumbs-bottom"} /-->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->
